/* variable css */
:root {
  --header-height: 3.5rem;

  /* colors */
  --color-primary-700: #1447e6;
  --color-primary-alt: hsl(221, 83%, 61%);
  --color-body: #fff;
  --color-text: hsl(240, 8%, 70%);
  --color-title: hsl(240, 8%, 95%);
  --color-container: hsl(0, 0%, 9%);
  --color-container-alt: hsl(0, 0%, 20%);
  --color-container-alt-2: hsl(0, 0%, 33%);

  /* font and typography */
  --font-body: 'Outfit', sans-serif;
  --font-h1: 2.0625rem;
  --font-h2: 1.4375rem;
  --font-h3: 1.1875rem;
  --font-base: 1rem;
  --font-sm: 0.8125rem;

  /* font weight */
  --font-medium: 500;
  --font-semi: 600;

  /* z-index */
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* responsive typography */
@media screen and (min-width: 1150px) {
  :root {
    --font-h1: 3.375rem;
    --font-h2: 2.3125rem;
    --font-h3: 1.625rem;
    --font-base: 1.125rem;
    --font-sm: 0.9375rem;
  }
}

/* base */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input,
textarea,
button {
  font-family: var(--font-body);
  font-size: var(--font-base);
}

body {
  background-color: var(--color-body);
  color: var(--color-text);
}

input,
textarea,
button {
  border: none;
  outline: none;
}

button {
  background: transparent;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2 {
  color: var(--color-title);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

/* reusable css classes */
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

/* header & nav */
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 1rem;
  background-color: slateblue;
  z-index: var(--z-fixed);
  transition: background-color 0.4s, box-shadow 0.4s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(16px);
  border-radius: 30px;
  padding-inline: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* TODO: the display block is not smoothly appearing, fix this */
/* I finally got it, i should use opacity not display block */
/* i just learned that the best approach to this is to use visibility property */
.nav__menu {
  position: absolute;
  right: 1rem;
  margin-top: -3rem;
  background: white;
  padding: 1rem;
  border-radius: 30px;
  width: 240px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  text-align: center;
  backdrop-filter: blur(16px);
  opacity: 0;
  transition: margin-top 0.4s, opacity 0.4s;
  visibility: hidden;
}

.nav__menu.open {
  margin-top: 0.5rem;
  opacity: 1;
  visibility: visible;
}

.nav__link {
  display: inline-block;
  color: black;
  font-weight: var(--font-semi);
  font-size: 1.125rem;
  padding-block: 0.5rem;
}

.nav__logo {
  color: black;
  font-size: 1rem;
  font-weight: var(--font-semi);
}

.nav__logo-icon {
  background: var(--color-primary-700);
  padding: 0.5rem;
  border-radius: 50%;
  color: white;
  margin-right: 0.5rem;
}

/* --------------------------- */
/* hamburger toggle button */
.ham {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: transform 400ms;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.hamRotate.active {
  transform: rotate(45deg);
}
.hamRotate180.active {
  transform: rotate(180deg);
}

.line {
  fill: none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #000;
  stroke-width: 5.5;
  stroke-linecap: round;
}

.ham8 .top {
  stroke-dasharray: 40 160;
}
.ham8 .middle {
  stroke-dasharray: 40 142;
  transform-origin: 50%;
  transition: transform 400ms;
}
.ham8 .bottom {
  stroke-dasharray: 40 85;
  transform-origin: 50%;
  transition: transform 400ms, stroke-dashoffset 400ms;
}
.ham8.active .top {
  stroke-dashoffset: -64px;
}
.ham8.active .middle {
  /* stroke-dashoffset: -20px; */
  transform: rotate(90deg);
}
.ham8.active .bottom {
  stroke-dashoffset: -64px;
}
